#page-form .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2.4rem;
}

#page-form .remind-me {
  display: flex;
  align-items: center;
}

#page-form .remind-me button {
  outline: 0;
  width: 2rem;
  height: 2rem;
  background: var(--color-box-footer);
  border-radius: 0.8rem;
  border: 0.1rem solid var(--color-line-in-white);
  margin-right: 1rem;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: 200ms background-color;
}

#page-form .remind-me button:focus,
#page-form .remind-me button:hover {
  border-color: var(--color-secundary);
}

#page-form .remind-me button.active {
  background-color: var(--color-secundary);
}

#page-form .remind-me label {
  cursor: pointer;
}

#page-form .form-group a {
  font-size: 1.4rem;
  line-height: 2.4rem;
  color: var(--color-text-complement);
  margin: 0;
  text-decoration: none;
  transition: 200ms color;
}

#page-form .form-group a:hover {
  color: var(--color-text-base);
}

#page-form .register {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-form .register p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-base);
}

#page-form .register p a {
  color: var(--color-primary);
  font-weight: 600;
  display: block;
  transition: 200ms color;
}

#page-form .register p a:hover {
  color: var(--color-primary-dark);
}

#page-form .register p.free {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  line-height: 2rem;
}

#page-form .register p img {
  margin-left: 0.8rem;
}
