#page-form {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 30% 1fr;
  grid-template-areas: "hero" "form";
  place-items: center;
}

.hero-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary-lighter);
  background-size: contain;
  background-position: center center;
  height: 100%;
  width: 100%;
  grid-area: hero;
}

.hero-background .proffy-container {
  max-width: 34rem;
}

.hero-background .proffy-container img {
  width: 100%;
}

.hero-background p {
  max-width: 23rem;
  text-align: left;
  font-size: 2.4rem;
  color: var(--color-text-in-primary);
}

.form-container {
  width: 100%;
  max-width: 35rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: form;
  padding: 4rem 0;
}

.form-container form {
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form-container h1 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 3.6rem;
}

.form-container form > p {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-text-base);
  max-width: 20rem;
}

#page-form .input-block label {
  position: absolute;
  top: 2.4rem;
  left: 2.4rem;
}

#page-form .input-block label {
  top: 1.4rem;
  font-size: 1.2rem;
  line-height: 2rem;
}

.form-container form input {
  margin: 0 !important;
  border-radius: 0;
  height: 7.2rem;
  font: 1.6rem Poppins;
  line-height: 2.4rem;
  color: var(--color-text-complement);
  padding: 0 2.4rem;
}

#page-form .form-container .input-block + .input-block {
  margin: 0;
}

#page-form form .input-block:focus-within::after {
  top: 1.6rem;
  bottom: 1.6rem;
  left: 0;
  right: 0;
  width: 2px;
  height: calc(100% - 3.2rem);
}

#page-form .input-block:focus-within input,
#page-form .input-block input:not(:placeholder-shown) {
  padding-top: 2.4rem;
}

.form-container button[type="submit"] {
  margin-top: 4rem;
  width: 100%;
  height: 5.6rem;
  border: 0;
  border-radius: 0.8rem;
  font-family: Archivo;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  cursor: pointer;
}

.form-container button[type="submit"]:disabled {
  background: var(--color-shapes-disabled);
  color: var(--color-text-complement);
  cursor: initial;
}

@media (min-width: 1000px) {
  #page-form {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: unset;
    grid-template-areas: "hero form";
  }
}
